---
import HomeLayout from "../layouts/HomeLayout.astro";
import Navbar from "../components/Navbar.astro";
import MainSection from "../components/MainSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<HomeLayout>
    <Navbar />
    <MainSection />
    <div class="w-full h-full bg-gradient-light dark:bg-gradient-dark">
        <AboutSection />
        <ContactSection />
    </div>
</HomeLayout>
